name: Deploy
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir: [strona-glowna, sprawdzajka]
    steps:
      - uses: actions/checkout@v4
      - run: npm install && npm run build
      - uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./dist/
          server-dir: ./${{ matrix.dir }}/
          # ZMIANA: Usunęliśmy 'clean' i daliśmy to poniżej, żeby GitHub nie szukał starych folderów
          dangerous-clean-slate: false